# Planetary Data Analysis Notebook

For the first part of this script, I will solely focus on the kNN supervised learning technique applied to the data pertaining to exoplanets from NASA.

In [2]:
# Import necessary libraries
from random import seed
from random import randrange
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy import stats

As a resampling method, will use the train-test-split (tts) method. Will bundle the logic of tts into a function.

In [3]:
seed(1235)
def tts(data, split = 0.80):
    train = list()
    train_size = split*len(data)
    data_copy = list(data)
    while len(train) < train_size :
        index = randrange(len(data_copy))
        train.append(data_copy.pop(index))
    return np.array(train), np.array(data_copy)

In [4]:
# Assign path of data to a variable.
# Initiatiate first data frame with raw data.
path = 'J:\\datasets\\PS_2022.02.27_18.46.12.csv'
raw_data = pd.read_csv(path)

Need to remove the first thirteen rows. These rows contain copious notes/remarks.

In [15]:
raw_data = raw_data.drop(raw_data.index[range(14)])

In [16]:
raw_data.columns

Index(['# This file was produced by the NASA Exoplanet Archive  http://exoplanetarchive.ipac.caltech.edu',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

Notice that the columns are not properly named. Now want to create first data frame with columns of interest.

In [20]:
df1 = raw_data.iloc[:, [0, 1, 5]]
df1.reset_index(drop=True, inplace=True)

In [21]:
raw_data

,# This file was produced by the NASA Exoplanet Archive http://exoplanetarchive.ipac.caltech.edu,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
98,55 Cnc c,44.373,0.02,-0.018,0,0.072,0.013,-0.014,0
99,55 Cnc d,4820,77,-72,0,0.139,0.015,-0.016,0
100,55 Cnc d,5218,230,-230,0,0.025,0.03,-0.03,0
101,55 Cnc d,4867,25,-26,0,0.0269,0.0061,-0.0065,0
102,55 Cnc d,4909,30,-30,0,0.02,0.008,-0.008,0
...,...,...,...,...,...,...,...,...,...
32126,ups And d,1282.41,0.93,-0.94,0,0.294,0.011,-0.012,0
32127,ups And d,1281.507,1.055,-1.055,0,0.316,0.006,-0.006,0
32128,ups Leo b,385.2,2.8,-1.3,0,0.32,0.134,-0.218,0
32129,xi Aql b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32130,xi Aql b,136.75,0.25,-0.25,0,0,NaN,NaN,0